.gradient {
  background: linear-gradient(92deg, #00a3ff 23.7%, #00fff0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-left {
  text-align: left;
}

.btn {
  transition: 0.2s;
  background: #0b8dcd;
  border-radius: 5px;
  padding: 24px 72px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.01);
  box-shadow: 4px 0px 24px rgba(75, 126, 255, 0.24),
    0px 4px 24px rgba(75, 126, 255, 0.6);
}

@media (max-width: 768px) {
  .btn {
    padding: 12px 36px;
    font-size: 0.8rem;
  }
}
