.gradient {
  background: linear-gradient(92deg, #00a3ff 23.7%, #00fff0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.underline {
  position: relative;
  padding-bottom: 12px;
}

.underline::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 4px;
  background: linear-gradient(92deg, #00a3ff 23.7%, #00fff0 100%);
}

.text-left {
  text-align: left;
}

.btn {
  transition: 0.2s;
  background: #0b8dcd;
  border-radius: 5px;
  padding: 8px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.01);
  box-shadow: 4px 0px 24px rgba(75, 126, 255, 0.24),
    0px 4px 24px rgba(75, 126, 255, 0.6);
}

@media (max-width: 768px) {
  .btn {
    padding: 12px 36px;
    font-size: 0.8rem;
  }
}
